RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# No cache for HTML, JS, SW — always fresh
<FilesMatch "\.(html|js|json)$">
  Header set Cache-Control "no-cache, no-store, must-revalidate"
  Header set Pragma "no-cache"
  Header set Expires "0"
</FilesMatch>

# No cache for service worker
<Files "sw.js">
  Header set Cache-Control "no-cache, no-store, must-revalidate"
  Header set Service-Worker-Allowed "/"
</Files>
